#Serve Alternate Default Index Page
DirectoryIndex login.php

#Disable Directory Browsing
Options All -Indexes

RewriteEngine On
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME}.php -f [NC]
RewriteRule ^(.*)$ $1.php [L,QSA]
RewriteCond %{REQUEST_FILENAME}.htm -f [NC]
RewriteRule ^(.*)$ $1.htm [L,QSA]
RewriteCond %{REQUEST_FILENAME}.html -f [NC]
RewriteRule ^(.*)$ $1.html [L,QSA]

#clean URL
#for all page :
#RewriteRule ^([a-zA-Z_-]+)\/?$ index.php?mov=$1 [NC]

#for spesific page :
RewriteRule ^dashboard\/?$ main.php?mov=dashboard [NC]
RewriteRule ^post_news\/?$ main.php?mov=post_news [NC]
RewriteRule ^myarchieve_news\/?$ main.php?mov=myarchieve_news [NC]
RewriteRule ^recarchieve_news\/?$ main.php?mov=recarchieve_news [NC]
RewriteRule ^approval_news\/?$ main.php?mov=approval_news [NC]
RewriteRule ^breaking_news\/?$ main.php?mov=breaking_news [NC]
RewriteRule ^edit_news\/?$ main.php?mov=edit_news [NC]
RewriteRule ^read_news\/?$ main.php?mov=read_news [NC]
RewriteRule ^forgot_pass\/?$ main.php?mov=forgot_page [NC]

ErrorDocument 401 /error_page/401.php
ErrorDocument 403 /error_page/403.php
ErrorDocument 404 /error_page/404.php
ErrorDocument 500 /error_page/500.php
