#Serve Alternate Default Index Page
DirectoryIndex main.php

#Disable Directory Browsing
Options All -Indexes

RewriteEngine On
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME}.php -f [NC]
RewriteRule ^(.*)$ $1.php [L,QSA]
RewriteCond %{REQUEST_FILENAME}.htm -f [NC]
RewriteRule ^(.*)$ $1.htm [L,QSA]
RewriteCond %{REQUEST_FILENAME}.html -f [NC]
RewriteRule ^(.*)$ $1.html [L,QSA]

#clean URL
#for all page :
#RewriteRule ^([a-zA-Z_-]+)\/?$ index.php?mov=$1 [NC]

#for spesific page :
#RewriteRule ^main\/?$ main.php?mov=main [NC]

#RewriteRule ^read/([0-9]+) read.php?id=$1

ErrorDocument 401 /error_page/401.php
ErrorDocument 403 /error_page/403.php
ErrorDocument 404 /error_page/404.php
ErrorDocument 500 /error_page/500.php
